.div404{
    animation: glitch 1s linear infinite;
  }
  
  @keyframes glitch{
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .div404:before,
  .div404:after{
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .div404:before{
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(4px,-4px);
    }
    4%,60%{
      transform: translate(-4px,4px);
    }
    62%{
      transform: translate(50px,-1px) skew(-13deg); 
    }
  }
  
  .div404:after{
    animation: glitchBotom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBotom{
    2%,64%{
      transform: translate(-10px,0);
    }
    4%,60%{
      transform: translate(-10px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

  /*    LINKS *********************************************/
  .links{
    animation-name: links;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
  @keyframes links {
    0%  {border-left:  rgb(255, 255, 255) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}

    12%  {border-left:  rgba(255, 255, 255, 0.479) 2px solid; border-top:  rgba(255, 255, 255, 0.479) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}
        
    24%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgb(255, 255, 255) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}
    
    36%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgba(255, 255, 255, 0.466) 2px solid; 
            border-right:  rgba(255, 255, 255, 0.521) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}
        
    
    48%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
            border-right:  rgb(255, 255, 255) 2px solid; border-bottom:  rgba(255, 255, 255, 0) 2px solid;}
        
    60%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
                border-right:  rgba(255, 255, 255, 0.486) 2px solid; border-bottom:  rgba(255, 255, 255, 0.514) 2px solid;}
        
    80%  {border-left:  rgba(255, 255, 255, 0) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgb(255, 255, 255) 2px solid;}

    100%  {border-left:  rgba(255, 255, 255, 0.473) 2px solid; border-top:  rgba(255, 255, 255, 0) 2px solid; 
            border-right:  rgba(255, 255, 255, 0) 2px solid; border-bottom:  rgba(255, 255, 255, 0.5) 2px solid;}
        }

  /*    FADEIN *********************************************/
@keyframes fadein {
    0% {opacity:0;}
    100% {opacity:1;}
    }