@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
body{
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Fira Mono', monospace;
    padding: 0;
    margin: 0;
    background-color: rgb(24, 24, 24);
    color: white;
}

.btn{
    height: 10vh;
    width: 15vw;
    background-color: transparent;
    color: white;
    font-size: 2vw;
    border-top: rgba(255, 255, 255, 0.63) solid 1px;
    border-left: rgba(255, 255, 255, 0.63) solid 1px;
    border-bottom: rgba(155, 155, 155, 0.63) solid 1px;
    border-right: rgba(155, 155, 155, 0.63) solid 1px;
}
.btn:hover{
    cursor: pointer;
    border: white 1px solid;
}
.circle { 
    width: 10px;
    height: 10px;
    background: white; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px;
 }
 .emptycircle { 
    width: 100px;
    height: 100px;
    border: white 1px solid;
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px;
 }
.parallelogram {
    height: 10px;
    width: 25px; 
    background: white;
    -webkit-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -o-transform: skew(20deg);
    transform: skew(20deg);
 }
 .emptyparallelogram {
    height: 75px;
    width: 150px; 
    border: white 1px solid;
    -webkit-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -o-transform: skew(20deg);
    transform: skew(20deg);
 }
.visible{opacity: 1;}
.invisible{opacity: 0;}
.inactive{
    display: none;
}
.fade-in{animation: fadein 1s;}
.banner{
    margin-top: 2vh;
    width: 100%;
    height: 90vh;
    display: flex;
    border-top: 1px solid rgba(0, 0, 0, 0.103);
}
.matrix{
    position: absolute;
    right: 0;
    background-image: url('./matrix2.gif');
    background-color: #004AAD;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.5 ;
    width: 100%;
    height: 80vh;
    z-index: -1;
}
.banner-figures{
    z-index: 1;
    width: 76px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner-p{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
}
/* MENU *************************************/
.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
}
.nav-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

li{list-style: none;}
.nav-menu ul li a{text-decoration: none;color: white;}
.nav-menu ul li a:hover{border-bottom: 1.5px solid white;}

.burger{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 25px;
    justify-content: space-around;
}
.burger:hover{
    cursor: pointer;
}
.burger div{
    border-top: 2.3px solid white;
    width: 20px;
}
.cross{z-index: 2;width: 100%;}
.cross div{padding: 2rem;text-align: right;margin-top: 2.5rem;width: 82%;}

.float-menu{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 3rem;
}
.float-menu:hover{animation-name: float;animation-iteration-count: infinite;}
.float-arrow{
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1rem;
    margin-left: 1rem;
}
.float-coffee{
    align-items: center;
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    right: 0;
    margin-top: 5rem;

}
.float-coffee h3:hover{border-bottom: 1px solid white;}
/* INDEX *************************************/
.index{
    margin-top: 1rem;
    font-style: italic;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu{
    top: 0;
    right: 0;
    position: fixed;
    width: 30%;
    height: 100%;
    border: 1px solid white;
    z-index: 5;
    background-color: black;;
}
@media (min-width: 1024px){ /* <1024px ********************************************************/
    .menu ul{
        display: flex;
        flex-direction: column;
        font-size: large;
        text-align: center;
        margin-top: auto;
        margin-left: auto;
        justify-content: space-around;
        height: 100%;
    }
    .menu a{color: white;text-decoration: none;}
    .menu a:hover{border-bottom: white 1.5px solid;}
    .division{
        display: flex;
        flex-direction: column;
        margin-bottom: 2rem ;
        align-items: center;
        height: 120vh;
    }
    .title{margin-bottom: -2rem;}
    .subdivision{
        margin-top: auto;
        margin-bottom: auto;
        font-size: x-large;
        padding: 3rem;
        display: flex;
        align-content: center;
        align-items: center;
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .special-division{
        position: relative;
        height: 200vh;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 1024px){ /* >1024px ********************************************************/
    .menu{
        
    }
    .division{

    }
    
    .subdivision{

    }
}


/* SCROLL BAR **************************/
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: black; 
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: white; 
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #004AAD; 
  }