@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
}
.circle { 
    width: 10px;
    height: 10px;
    background: #4b0082; 
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px;
 }
 .emptycircle { 
    width: 100px;
    height: 100px;
    border: indigo 1px solid;
    -moz-border-radius: 50px; 
    -webkit-border-radius: 50px; 
    border-radius: 50px;
 }
.parallelogram {
    height: 10px;
    width: 25px; 
    background: #4b0082;
    -webkit-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -o-transform: skew(20deg);
    transform: skew(20deg);
 }
 .emptyparallelogram {
    height: 75px;
    width: 150px; 
    border: indigo 1px solid;
    -webkit-transform: skew(20deg); 
    -moz-transform: skew(20deg); 
    -o-transform: skew(20deg);
    transform: skew(20deg);
 }

.invisible{
    opacity: 0;
}
.inactive{
    display: none;
}
.fade-in{animation: fadein 1s;}
.banner{
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
}
.banner-figures{
    width: 66px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.banner-p{
    display: flex;
    flex-direction: column;
}
/* MENU *************************************/
.nav-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    height: 40px;
}
.nav-menu ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

li{list-style: none;}
.nav-menu ul li a{text-decoration: none;}
.nav-menu ul li a:hover{border-bottom: 1.5px solid #4b0082;}

.burger{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 15px;
    justify-content: space-around;
}
.burger:hover{
    cursor: pointer;
}
.burger div{
    border-top: 1.5px solid black;
    width: 15px;
}
.cross{z-index: 2;width: 100%;}
.cross div{padding: 2rem;text-align: right;margin-top: 2.5rem;width: 82%;}
/* INDEX *************************************/
.index{
    margin-top: 8rem;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.menu{
    font-family: 'Roboto', sans-serif;
    top: 0;
    right: 0;
    position: fixed;
    width: 30%;
    height: 100%;
    border: 1px solid black;
    z-index: 1;
    background-color: indigo;
    
    
}
@media (min-width: 1024px){ /* <1024px ********************************************************/
    .menu ul{
        display: flex;
        flex-direction: column;
        font-size: large;
        text-align: center;
        margin-top: auto;
        margin-left: auto;
        justify-content: space-around;
        height: 100%;
    }
    .menu a{color: white;text-decoration: none;}
    .menu a:hover{border-bottom: white 1.5px solid;}
    .division{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-bottom: 2rem ;
        align-items: center;
        
    }
    .subdivision{
        width: 50%;
        padding: 5rem;
        align-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 1024px){ /* >1024px ********************************************************/
    .menu{
        
    }
    .division{

    }
    
    .subdivision{

    }
}